%TMPL:INCLUDE{view}%%{
---------------------------------------------------
	top:toolbarbuttons
		Overridden top button row; PDF button appended at right 
---------------------------------------------------
}%%TMPL:DEF{"top:toolbarbuttons"}%%TMPL:PREV%%TMPL:P{"pdf:link"}%%TMPL:END%%{
---------------------------------------------------
	pdf
		PDF button
---------------------------------------------------
}%%TMPL:DEF{"pdf:link"}%<span><a href='%SCRIPTURLPATH{"view"}%/%BASEWEB%/%BASETOPIC%?%QUERYSTRING%&contenttype=application/pdf' rel='nofollow'>%TMPL:P{"pdf:link:text"}%</a></span>%TMPL:END%%{
---------------------------------------------------
	pdf:link:text
		PDF button label
---------------------------------------------------
}%%TMPL:DEF{"pdf:link:text"}%%MAKETEXT{"PDF"}%%TMPL:END%%{
---------------------------------------------------
	action_printable
		Overridden print link in topic action links:
		PDF link appended to print link
---------------------------------------------------
}%%TMPL:DEF{"action_printable"}%%TMPL:P{"printable"}%%TMPL:P{"sep"}%%TMPL:P{"pdf:link"}%%TMPL:P{"sep"}%%TMPL:END%